.placeholder-album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

div{
  //border: 1px solid magenta;
}
 
.album-page{
  padding: auto;
  margin: auto;
  width: 1500px;
  background-color: white;
  border: 1px solid black;
}
.album-profile-container{
  padding: auto;
  margin: auto;
  margin-top: 100px;
  display: flex;
  border: 1px solid black;
}
.album-info-container{
  padding: auto;
  border: 1px solid black;
  width: 100%;
  border-color: black transparent black black;
}
/* .artist-profile-container > div{
  flex: 1;
}*/
.album-art-container{
  width: 320px;
}
.album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.album-title-container{
  margin: auto;
  padding: auto;
  margin-left: 50px;
  margin-top: 5px;
}
.album-about-container{
  margin:auto;
  padding: auto;
  text-align: left;
  margin-top: 5px;
}

//albums
.album-songs{
  display: flexbox;
  border: 1px solid black;
}
.album-info{
  margin: auto;
  padding: auto;
  margin-top: 5px;
  margin-left: 5px;
}

