.site-banner{
  position: fixed;
  background-color: rgba(50, 50, 50, 1);
  width: 100%;
  top: 0px;
  a{color: lawngreen}
}

.site-title{
  float:left;
  padding: 0px 200px 0px 15px;
  font-size: 20pt;
  &:hover{
    color: black;
    background: linear-gradient(to right, lawngreen, rgba(50, 50, 50, 1));
    a{
      color: black;
    }
  }
}

.admin-button, .new-button{
  float: right;
  padding: 10px 20px 0px 20px;
  &:hover{
    color: black;
    background: linear-gradient(270deg,rgba(50, 50, 50, 1),  lawngreen, rgba(50, 50, 50, 1));
    a{
      color: black;
    }
  }
}

.search-stuff{
  float: right;
  position: relative;
  //border: 1px solid magenta;
  display: flex;
  &:focus-within{
    .search-results-container{
      opacity: 1;
      pointer-events: all;
    }
  }
}

.search-bar{
  padding-top: 10px;
  padding-right: 50px;
}

.search-drop-down{
  padding-top: 10px;
}

.search-results-container{
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: white;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  width: 82%;

  &-hidden{
    display: none;
    background: red;
  }

  a{
    color: black;
  }

  &-item{
    margin: 3px 5px;
  }
}

.artist-search-stuff{
  position: relative;
  //border: 1px solid magenta;
  display: flex;
  &:focus-within{
    .artist-results-container{
      opacity: 1;
      pointer-events: all;
    }
  }
}

.artist-search-bar{
  //padding-top: 10px;
  //padding-right: 50px;
}

.artist-results-container{
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: white;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  width: 82%;

  &-hidden{
    display: none;
    background: red;
  }

  a{
    color: black;
  }

  &-item{
    margin: 3px 5px;
  }
}

a:link, a:visited{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}