.placeholder-album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

body {
  background-color: grey;
}

div{
  //border: 1px solid magenta;
}
 
.song-page{
  padding: auto;
  margin: auto;
  width: 1500px;
  background-color: white;
  border: 1px solid black;
}
.song-info-container{
  padding: auto;
  margin: auto;
  margin-top: 100px;
  display: flex;
  border: 1px solid black;
}
/* .artist-profile-container > div{
  flex: 1;
}*/
.song-album-art-container{
  width: 320px;
}
.album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.song-info{
  margin: auto;
  padding: auto;
  margin-left: 50px;
  margin-top: 5px;
}
.song-about-container{
  margin:auto;
  padding: auto;
  text-align: left;
  margin-top: 5px;
}

//albums
.lyrics-section{
  display: flex;
  border: 1px solid black;
}