.placeholder-album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

div{
  //border: 1px solid magenta;
}
 
.song-page{
  padding: auto;
  margin: auto;
  width: 1500px;
  background-color: $background-color;
}
.song-info-container{
  padding: auto;
  margin: auto;
  display: flex;
  background-color: lightgrey;
  overflow: hidden;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}
/* .artist-profile-container > div{
  flex: 1;
}*/
.song-album-art-container{
  width: 320px;
}
.album-art{
  margin: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.song-info{
  margin: auto;
  padding: auto;
  margin-left: 50px;
  margin-top: 5px;
}
.song-about-container{
  margin:auto;
  padding: auto;
  text-align: left;
  margin-top: 5px;
}

//albums
.lyrics-section{
  display: flex;
  border: 1px solid black;
}

//songs
.song-container{
  display: table;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.song-container-headers-container{
  display: table-header-group;
}
.song-container-headers{
  display: table-cell;
  border-bottom: 2px solid black;
}
.song-container-row{
  display: table-row-group;
}
.song-cell1{
  display: table-cell;
  border-bottom: 1px solid black;
}
.song-cell2{
  display: table-cell;
  border-bottom: 1px solid black;
}
.song-cell3{
  display: table-cell;
  border-bottom: 1px solid black;
}